/* GrooverGeom styles */




/*Example styles*/
.exampleCanvas {
    width : 500px;
    height : 500px;
    border: #000 1px solid;
}
.exampleH1 {
}
.exampleH2 {
}
.exampleH3 {
}
.exampleA {
}
.exampleUl {
}
.exampleLi {
}

