/*Page general style*/

body {
    font : 20px arial;
    margin: 0px;
    background : #555;
    color : white;
}

h1 {
    text-align : center;
}
h2 {
    
}
input {
    padding: 0px;
    margin: 0px;
    border: 0px;    
    display: inline;    
    color : white;
}
.unknown { /* should not be used. This is a fallback in case a bad class name is found */
    padding: 0px;
    margin: 0px;
    border: 0px;    
    display: inline;    
    color : white;
}
.lable {
    color : white;
}
td {
    padding : 0px;
}
.snug {
    padding: 0px;
    margin: 0px;
    border: 0px;    
    display: block;
}
.content {
}
.canvas {
    background: #013;
}
table {
    width: 100%;
    background: #444;
    border-spacing: 0px;
}
.title {
}
.foot {
    
}


/* Menu and DOM ui */

.menu {
    max-width : 300px;
    width : 300px;
    background: #231;
    overflow-y: auto;
}
.uiSubGroup {
   font-size : small;
    border : white 1px solid;
    margin-top: 2px;
    padding : 2px;
     
    
}
.primitiveType { /* groups of same primitive */
}
.name {  /* name of same primitive group */
    border: none;
    padding: 0px;
    margin: 0px;    
    font-weight: 700;
}
.uiGroup {
    font-size : small;
    border : white 1px solid;
    margin-top: 2px;
    overflow-y: hidden;
}
.openClose {
    cursor : pointer;
    background : #7ca580;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 3px;
    margin-left: 0px;    
}
.openClose:hover {
    background : #AAa580;
}
.closed {
    display : none;
}
.show {};
.uiGroupName {
     display: block;   
}
.highlight {
    background : #358446;
}
.nearlight {
    background : #858446;
}
.uiButton {
    color: #fff;
    border: 1px #fff solid;
    background: #7ca580;
    cursor: pointer;    
    margin: 1px;
    padding-left: 4px;
    padding-right: 4px;    
}
.uiPrimitivePropertyName {
    display: inline;
    padding-right: 5px;
}
.uiPrimitiveProperty {
   display: inline;
}
.uiPrimitiveRange {
   display: inline;
}
.uiPrimitive {
}

